.app {
  background-color: rgb(243, 243, 243);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.app__content {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 540px) {
  .app__content {
    padding: 0 16px;
  }
}
