@import url(../../vendor/fonts.css);

.cards {
  margin-top: 40px;
}

.cards__text {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
  margin: 0;
}

.cards__list {
  padding: 0;
  margin: 35px 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
