@import url(../../vendor/fonts.css);

header {
  position: relative;
  display: flex;
  padding: 20px 0 28px;
  align-items: center;
}

.header__logo {
  width: 89px;
  height: 40px;
  margin-right: 24px;
  transition: text-shadow 0.4s linear;
  text-shadow: none;
  transition: box-shadow 0.4s linear;
}

.header__logo:hover {
  box-shadow: 1px 1px 2px black;
  transition: box-shadow 0.4s linear;
}

.header__date-and-location {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.header__right-content {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.header__add-clothes-button {
  margin: 0 20px 0;
  padding: 0;
  border: none;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  cursor: pointer;
  background-color: rgb(243, 243, 243);
  transition: text-shadow 0.4s linear;
  text-shadow: none;
}

.header__add-clothes-button:hover {
  text-shadow: 0 1px black;
  transition: text-shadow 0.4s linear;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  margin: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24.8px;
}

.header__avatar {
  width: 40px;
  height: 40px;
}

.header__mobile-button {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 1);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  display: none;
  position: absolute;
  top: 18px;
  right: 0;
  transition: box-shadow 0.4s linear;
}

.header__mobile-button:hover {
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 1);
  transition: box-shadow 0.4s linear;
}

.header__profile-link {
  text-decoration: none;
  color: black;
  transition: text-shadow 0.4s linear;
  text-shadow: none;
}

.header__profile-link:hover {
  text-shadow: 0 1px black;
  transition: text-shadow 0.4s linear;
}

@media screen and (max-width: 560px) {
  .header {
    display: block;
    padding-bottom: 16px;
  }

  .header__date-and-location {
    padding-top: 34px;
  }

  .header__right-content {
    display: none;
  }

  .header__mobile-button {
    display: block;
  }
}
