.modal {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.4s, opacity 0.4s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  box-sizing: border-box;
  max-width: 670px;
  width: 100%;
  position: relative;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 28px 28px 36px;
}

.modal__content_type_image {
  position: relative;
  padding: 20px;
  display: flex;
  gap: 28px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

.modal__image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.modal__image {
  width: 323px;
  height: 326px;
  border-radius: 16px;
  object-fit: cover;
}

.modal__caption {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
  border-radius: 4px;
}

.modal__caption_type_image {
  top: 17px;
}

.modal__weather {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}
