@import url(../../vendor/fonts.css);

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__content {
  box-sizing: border-box;
  max-width: 670px;
  width: 100%;
  position: relative;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 28px 28px 36px;
}

.modal__content_type_image {
  position: relative;
  padding: 20px;
  display: flex;
  gap: 28px;
  min-width: 670px;
}

.modal__image-container {
  position: relative;
  display: flex;
  justify-content: center;
}

.modal__image {
  width: 323px;
  height: 326px;
  border-radius: 16px;
  object-fit: cover;
}

.modal__caption {
  position: absolute;
  top: 15px;
  margin: 0;
  background-color: white;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.6);
  padding: 2px 12px;
  border-radius: 4px;
}

.modal__caption_type_image {
  top: 17px;
}

.modal__sidebar {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
}

.modal__weather {
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.modal__delete-button {
  margin: 0 0 12px;
  padding: 0;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: rgba(255, 77, 0, 1);
  background-color: white;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 670px) {
  .modal__content_type_image {
    min-width: 0;
  }
}

@media screen and (max-width: 560px) {
  .modal__content_type_image {
    display: block;
    max-width: 343px;
    min-width: 0;
  }

  .modal__image-container {
    display: block;
  }

  .modal__close_type_item {
    width: 21.21px;
    height: 21.41px;
    top: 12px;
    right: 12.79px;
  }

  .modal__image {
    margin-top: 20px;
    min-width: 164px;
    min-height: 165px;
    height: 100%;
    max-width: 343px;
    width: 100%;
  }

  .modal__caption {
    position: relative;
    font-family: "Cabinet Grotesk", Arial, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    color: black;
    padding: 0 0 0 12px;
  }

  .modal__weather {
    padding: 0 0 0 12px;
  }
  .modal__delete-button {
    margin: 0 0 0 12px;
  }
}
