@import url(../../vendor/fonts.css);

.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 20px 0 24px;
}

.footer__link {
  position: relative;
  display: inline-block;
  color: black;
  overflow: hidden;
  text-decoration: none;
}

.footer__link .footer__link-transition {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  transform: translateX(-100%);
  transition: transform 500ms ease;
}

.footer__link .footer__link-transition::before {
  display: inline-block;
  content: attr(data-content);
  color: rgb(27, 60, 248);
  transform: translateX(100%);
  transition: transform 500ms ease;
}

.footer__link:hover .footer__link-transition {
  transform: translateX(0);
}

.footer__link:hover .footer__link-transition::before {
  transform: translateX(0);
}

.footer__date {
  margin: 0;
}

@media screen and (max-width: 560px) {
  .footer {
    margin: 0 0 20px;
  }
}
