@import url(../../vendor/fonts.css);

.footer {
  display: flex;
  justify-content: space-between;
  font-family: "Cabinet Grotesk", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0 0 24px;
}

.footer__name {
  margin: 0;
}

.footer__date {
  margin: 0;
}

@media screen and (max-width: 540px) {
  .footer {
    margin: 0 0 20px;
  }
}
